.make-post-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 90vh;
    width: 100vw;
    .tips-wrapper{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .tips{
            margin-left: 0;
            padding-left: 0;
            text-decoration: none;
            .tip-item{
                list-style: none;
            }
        }
        form{
            width: 80%;
            @media(min-width: 1024px){
                width: 30%;
            }
            textarea{
                width: 100%;
                height: 77px;
                resize: none;
            }
            .add-post-button{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                width: 101%;
                height: 20%;
                color: #f4f4f4;
                transition: background .2s ease-in-out;
                padding: 5px 0;
                &:hover{
                    cursor: pointer;
                    background: #39c6f1;
                }
                @media(min-width: 1024px){
                    width: 30%;
                }
            }
        }
    }


    .output{
        width: 90%;
        min-height: 20%;
        display: flex;
        flex-direction: column;
        border: solid 1px #39c6f1;
        .output-header{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 40%;
            font-size: 2em;
        }
        .output-buttons-wrapper{
            height: 60%;
            display: flex;
            justify-content: space-around;
            align-items: flex-end;
            .output-buttons{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                width: 60%;
                @media(min-width: 1024px){
                    align-items: flex-end;
                    justify-content: space-around;
                    flex-direction: row;
                }
                .output-button{
                    text-align: center;
                    color: #f4f4f4;
                    margin: 1em;
                    transition: background .3s ease-in-out; 
                    padding: 0 .5em;
                    width:  100%;
                    @media(min-width: 1024px){
                        width: 400px;
                    }
                    &:hover{
                        cursor: pointer;
                        background: #39c6f1;
                    }
                }
            }
        }
    }
}