.make-post-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 90vh;
  width: 100vw;
}

.make-post-wrapper .tips-wrapper {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.make-post-wrapper .tips-wrapper .tips {
  margin-left: 0;
  padding-left: 0;
  text-decoration: none;
}

.make-post-wrapper .tips-wrapper .tips .tip-item {
  list-style: none;
}

.make-post-wrapper .tips-wrapper form {
  width: 80%;
}

@media (min-width: 1024px) {
  .make-post-wrapper .tips-wrapper form {
    width: 30%;
  }
}

.make-post-wrapper .tips-wrapper form textarea {
  width: 100%;
  height: 77px;
  resize: none;
}

.make-post-wrapper .tips-wrapper form .add-post-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 101%;
  height: 20%;
  color: #f4f4f4;
  -webkit-transition: background .2s ease-in-out;
  transition: background .2s ease-in-out;
  padding: 5px 0;
}

.make-post-wrapper .tips-wrapper form .add-post-button:hover {
  cursor: pointer;
  background: #39c6f1;
}

@media (min-width: 1024px) {
  .make-post-wrapper .tips-wrapper form .add-post-button {
    width: 30%;
  }
}

.make-post-wrapper .output {
  width: 90%;
  min-height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: solid 1px #39c6f1;
}

.make-post-wrapper .output .output-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 40%;
  font-size: 2em;
}

.make-post-wrapper .output .output-buttons-wrapper {
  height: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.make-post-wrapper .output .output-buttons-wrapper .output-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60%;
}

@media (min-width: 1024px) {
  .make-post-wrapper .output .output-buttons-wrapper .output-buttons {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.make-post-wrapper .output .output-buttons-wrapper .output-buttons .output-button {
  text-align: center;
  color: #f4f4f4;
  margin: 1em;
  -webkit-transition: background .3s ease-in-out;
  transition: background .3s ease-in-out;
  padding: 0 .5em;
  width: 100%;
}

@media (min-width: 1024px) {
  .make-post-wrapper .output .output-buttons-wrapper .output-buttons .output-button {
    width: 400px;
  }
}

.make-post-wrapper .output .output-buttons-wrapper .output-buttons .output-button:hover {
  cursor: pointer;
  background: #39c6f1;
}
/*# sourceMappingURL=AddPostPage.css.map */