@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Asap+Condensed&display=swap');

html{
    box-sizing: border-box;
    body{
        margin: 0;
        padding: 0;
        background: #fffefe;

        .flex__center{
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .p__size{
            font-size: 1.2em;
            @media(min-width: 1024px){
                font-size: 1.4em;
            }
        }
        
        .app_color_font{
            color: #3cd1fd;
        }

        .app_color_background{
            background: #3cd1fd;
        }

        .font__bold{
            font-weight: bold;
        }
        
        .font__p{
            font-family: 'Asap Condensed',sans-serif;
        }

        .hamburger-bar{
            display: flex;
            font-size: 1.5em;
            @media(min-width: 1024px){
                display: none;
            }
        }

        .main__nav{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100vw;
            height: 10vh;
            .logo-wrapper{
                width: 30%;
            }
            .nav-links{
                height: 100%;
                width: 20%;
                display: flex;
                justify-content: space-around;
                align-items: center;
                @media(min-width: 1024px){
                    width: 70%;
                }
                .nav__link{
                    font-size: 1em;
                    transition: border .2s ease-in-out;
                    @media(max-width: 1024px){
                        display: none !important;
                    }
                    @media(min-width: 1024px){
                        font-size: 1.5em;
                        display: flex;
                    }
                    &:hover{
                        color: #201414;
                        border-bottom: 1px solid #0b0a0a;
                    }
                }
            }
        }

        .sidebar-wrapper{
            position: absolute;
            top: 0%;
            left: 0%;
            flex-direction: column;
            height: 100vh !important;
            background: #0b0a0a;
            @media(min-width: 1024px){
                display: none;
            }
            .close-sidebar-wrapper{
                display: flex;
                align-items: center;
                justify-content: flex-end;
                height: 20%;
                width: 100%;
                .close-sidebar-icon{    
                    color: #f4f4f4;
                    font-size: 1.8em;
                    margin-right: 1em;
                }
            }
            .sidebar-links{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: 60%;
                width: 100%;
                .sidebar-link{
                    margin: 1em 0;
                    color: #f4f4f4;
                    text-decoration: none;
                    font-size: 1.5em;
                }
            }
        }

        .landing-wrapper{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 80vh;
            @media(min-width: 1024px){
                display: flex;
                justify-content: flex-start !important;
                align-items: flex-start !important;
                height: 90vh;
            }
            .text-wrapper{
                width: 80vw;
                @media (min-width: 1024px) {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    width: 50vw;
                    height: 100%;
                }
                .text-header-wrapper{
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    span{
                        color: #3cd1fd;
                        font-family: 'Kaushan Script',sans-serif;
                        font-size: 1.7em;
                        font-weight: bold;
                        @media(min-width: 1024px){

                        }
                    }
                }
                .text-button-wrapper{
                    a{
                        color: #f4f4f4;
                        text-decoration: none;
                        text-align: center;
                        font-family: 'Barlow',sans-serif;
                        padding: 5px;
                        border: 1px solid #3cd1fd;
                        font-size: 1em;
                        background: #3cd1fd;
                        transition: all .5s ease-in-out;
                        @media(min-width:1024px){
                            font-size: 1em;
                        }
                        &:hover{
                            background: #39c6f1;
                        }
                    }
                }
            }
        }


        .href__style__remove{
            text-decoration: none;
            color: #0b0a0a;
            cursor: pointer;
        }
    }
}