@import url("https://fonts.googleapis.com/css?family=Kaushan+Script|Asap+Condensed&display=swap");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html body {
  margin: 0;
  padding: 0;
  background: #fffefe;
}

html body .flex__center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html body .all-page-wrapper {
  width: 100vw;
  height: 100vh;
}

html body .hover:hover {
  cursor: pointer;
}

html body .small_margin_right {
  margin-right: 10px;
}

html body .p__size {
  font-size: 1.2em;
}

@media (min-width: 1024px) {
  html body .p__size {
    font-size: 1.4em;
  }
}

html body .app_color_font {
  color: #3cd1fd;
}

html body .app_color_background {
  background: #3cd1fd;
}

html body .font__bold {
  font-weight: bold;
}

html body .font__p {
  font-family: 'Asap Condensed',sans-serif;
}

html body .white__color__font {
  color: #f4f4f4;
}

html body .hamburger-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.5em;
}

@media (min-width: 1024px) {
  html body .hamburger-bar {
    display: none;
  }
}

html body .main__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 10vh;
}

html body .main__nav .logo-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30%;
  height: 100%;
}

html body .main__nav .nav-links {
  height: 100%;
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1024px) {
  html body .main__nav .nav-links {
    width: 70%;
  }
}

html body .main__nav .nav-links .nav__link {
  font-size: 1em;
  -webkit-transition: border .2s ease-in-out;
  transition: border .2s ease-in-out;
}

@media (max-width: 1024px) {
  html body .main__nav .nav-links .nav__link {
    display: none !important;
  }
}

@media (min-width: 1500px) {
  html body .main__nav .nav-links .nav__link {
    font-size: 1.5em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 1500px) {
  html body .main__nav .nav-links .nav__link {
    font-size: 1.2em;
  }
}

html body .main__nav .nav-links .nav__link:hover {
  color: #201414;
  border-bottom: 1px solid #0b0a0a;
}

html body .sidebar-wrapper {
  position: fixed;
  top: 0%;
  left: 0%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh !important;
  background: #0b0a0a;
}

@media (min-width: 1024px) {
  html body .sidebar-wrapper {
    display: none;
  }
}

html body .sidebar-wrapper .close-sidebar-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 20%;
  width: 100%;
}

html body .sidebar-wrapper .close-sidebar-wrapper .close-sidebar-icon {
  color: #f4f4f4;
  font-size: 1.8em;
  margin-right: 1em;
}

html body .sidebar-wrapper .sidebar-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60%;
  width: 100%;
}

html body .sidebar-wrapper .sidebar-links .sidebar-link {
  margin: 1em 0;
  color: #f4f4f4;
  text-decoration: none;
  font-size: 1.5em;
}

html body .landing-wrapper,
html body .dashboard-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80vh;
}

@media (min-width: 1024px) {
  html body .landing-wrapper,
  html body .dashboard-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: flex-start !important;
    -webkit-box-align: start !important;
        -ms-flex-align: start !important;
            align-items: flex-start !important;
    height: 90vh;
  }
}

html body .landing-wrapper .image-wrapper,
html body .dashboard-wrapper .image-wrapper {
  display: none;
}

@media (min-width: 1024px) {
  html body .landing-wrapper .image-wrapper,
  html body .dashboard-wrapper .image-wrapper {
    width: 50vw;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

html body .landing-wrapper .image-wrapper .landing-image,
html body .landing-wrapper .image-wrapper .dashboard-image,
html body .dashboard-wrapper .image-wrapper .landing-image,
html body .dashboard-wrapper .image-wrapper .dashboard-image {
  width: 70%;
  height: 70%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

html body .landing-wrapper .text-wrapper,
html body .dashboard-wrapper .text-wrapper {
  width: 80vw;
}

@media (min-width: 1024px) {
  html body .landing-wrapper .text-wrapper,
  html body .dashboard-wrapper .text-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 50vw;
    height: 100%;
  }
}

html body .landing-wrapper .text-wrapper .text-header-wrapper,
html body .dashboard-wrapper .text-wrapper .text-header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html body .landing-wrapper .text-wrapper .text-header-wrapper span,
html body .dashboard-wrapper .text-wrapper .text-header-wrapper span {
  color: #3cd1fd;
  font-family: 'Kaushan Script',sans-serif;
  font-size: 1.7em;
  font-weight: bold;
}

html body .landing-wrapper .text-wrapper .text-button-wrapper a,
html body .dashboard-wrapper .text-wrapper .text-button-wrapper a {
  color: #f4f4f4;
  text-decoration: none;
  text-align: center;
  font-family: 'Barlow',sans-serif;
  padding: 5px;
  border: 1px solid #3cd1fd;
  font-size: 1em;
  background: #3cd1fd;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

@media (min-width: 1024px) {
  html body .landing-wrapper .text-wrapper .text-button-wrapper a,
  html body .dashboard-wrapper .text-wrapper .text-button-wrapper a {
    font-size: 1em;
  }
}

html body .landing-wrapper .text-wrapper .text-button-wrapper a:hover,
html body .dashboard-wrapper .text-wrapper .text-button-wrapper a:hover {
  background: #39c6f1;
}

html body .href__style__remove {
  text-decoration: none;
  color: #0b0a0a;
  cursor: pointer;
}
/*# sourceMappingURL=App.css.map */